[2020-08-05 09:54] Robinlovelace opened #1 "Changing row name crashes shiny"
Try creating a duplicate row name to reproduce. Output:

[code]

[2020-08-06 01:44] DillonHammill commented on #1
@Robinlovelace, thanks for trying DataEditR!

The row indices are not supposed to be edited by the user as they are not exported in the returned data. Regardless, I have just pushed an update to make sure that the row indices are unique internally, which should prevent the data editor from crashing.

I also added an update to ensure that the row indices are in the correct order when rows are added

[2020-08-06 06:49] Robinlovelace commented on #1
Confirmed, that's fixed. I raised the issue to reduce the probability of users accidentally crashing the app. Mission accomplished!

One question raised on [Twitter](https://twitter.com/ingorohlfing/status/1290953685762269184): is there a way to get code output for modifying the data frame?

[2020-08-06 06:49] #1 closed

[2020-08-17 18:01] sfd99 opened #2 "No UNdo correction possible..."
Hi Dillon,

DataEditR = GREAT and useful pkg!.
Very much needed...

But No **UNdo** correction is possible...

ie: (in mtcars DF example)
if I change the **wt** value of the 1st row
**from:**  2.62
**to:**      2.99

and _-oops!-_ I made a mistake!
there is now way to "undo"
(the word is grayed out
 in the right-click dropdown menu).

**Ctrl-Z** also does not correct the value(s).
Would be a nice

[2020-08-17 20:41] sfd99 opened #3 "[Save & Close] button only closes but does not save any changes"
**_Hi Dillon,_**

    # Make a backup DF m2,  to keep it safe... :-)
     m2  <- mtcars

    # Open m2  in Rstudio Viewer
    # and we change some values .ie: mpg from 21 to 2199
    data_edit( m2 )

    # Click on the [Save & Close] button
    # and then do:
    head(m2)

See?
No values have been changed
in  m2 ...

The **[Save & Close]** button
will _close_ the Rstudio Viewer,
but the  m2  data

[2020-08-17 20:59] DillonHammill commented on #2
@sfd99, rhandsontable does not have native support for the undo/redo feature. I have been playing around with it, but haven't git it to work as yet. I will let you know once I figure it out!

[2020-08-17 21:04] DillonHammill commented on #3
@sfd99, you need to re-assign the output of `data_edit()` to `m2` in order to update the old `m2`:
[code]

[2020-08-17 23:25] sfd99 commented on #2
_thanks, Dillon!._
Hope you find way
to implement **Ctrl-Z / UNdo**.

Would be _very_ helpful and needed.

[2020-08-17 23:29] sfd99 commented on #3
ok, Dillon, understood.

_Q:_
But then (maybe),
the **[Save & Close]** button
should just say: **[Close]** ?.

just a suggestion... :-)

[2020-09-24 00:55] SatCat opened #4 "Exception if row add"
test my example, right click, and try add any rows.

mytb <- mtcars[1:10,1:2]
mytb$colorcyl <- c("orange","green","red","blue", "black", "orange","green","red","blue", "black")[mytb$cyl]
data_edit(mytb,
          col_options = list(colorcyl = c("red","blue","orange","green","black")))
---------------------------------------------------------------------------------------------------
Column editing

[2020-09-25 01:25] SatCat opened #5 "I want use it on my shiny project, but shiny-ini-shiny impossible.."

[2020-09-27 15:15] owbezick commented on #5
@DillonHammill, I second the above idea. The author of the [editData](https://rdrr.io/cran/editData/man/editData.html) package (which provides similar functions) provides a module based approach, which could prove useful for those wanting to implement your GUI within their own shiny applications.

[2020-09-27 15:18] owbezick commented on #5
Further, I have forked a repo to try to add the module functions. Please do let me know if you care to help!

[2020-09-27 20:19] DillonHammill commented on #5
@owbezick, I would be happy to help add support this. In fact, I have a version where I have separated out the shiny components, so it may be easier to modify this version. I will push this to the master branch later today. I will also take a look at `editData` to see how they do things.

[2020-09-28 13:47] owbezick commented on #5
@DillonHammill Great! I will check out the latest push soon. Thank you!

[2020-09-29 18:31] owbezick commented on #5
@DillonHammill Just checking if that version is pushed to the master branch. Thanks.

[2020-09-29 19:43] DillonHammill commented on #5
@owbezick, I figured I would add some new features while making these changes, I should have a working version ready soon for you to test. I will let you know when it is ready.

[2020-10-02 22:52] leungi commented on #5
Thanks for project @DillonHammill 🙏

This is a great light alternative to [{DTedit}](https://github.com/jbryer/DTedit) that I've used regularly, in case you'd like to avoid converting everything over to shiny modules for the short-term, but still make it compatible with shiny.

[2020-10-05 18:17] owbezick commented on #5
@DillonHammill Any updates on the new release?

[2020-10-05 19:52] DillonHammill commented on #5
Sorry @owbezick, I was really busy with other things last week. I should have more time to work on this now. I will try have it ready by the end of the week.

[2020-10-05 19:58] owbezick commented on #5
@DillonHammill Awesome! Thanks so much.

[2020-10-13 20:23] owbezick commented on #5
@DillonHammill Sorry to ask again, I would just like to use it in a presentation I have on the 21st, so the longer I have to work with it the better!

[2020-10-21 05:00] DillonHammill commented on #5
Thanks for the suggestions everyone! I now have a working version of `DataEditR` that uses a modular shiny design, has a revamped user interface and ships with an RStudio addin. I am still in the process of documenting and testing everything, but a working version is now available on the `devel` branch if you would like to take it for a spin. I would like to submit this update to CRAN in the comin

[2020-10-25 08:13] vorpalvorpal opened #6 "[feature request] filter, order and arrange options"
Thanks for the great project.

I was wondering if you would be interested in implementing any manipulations of the data. View() allows you to reorder and filter rows by a particular column. This would be quite useful to allow users to better explore and edit the data. For example, I want to edit the values of column 1 only where the value of column 2 is greater than x.

Potentially re-ordering col

[2020-10-25 22:57] DillonHammill commented on #6
@vorpalvorpal, now that DataEditR uses a modular design (available on the `devel` branch), it should be possible to add support for such operations. There will be a few things that will need to be figured out:

- These operations will need to be performed independently of `rhandsontable` as any call to `hot_cols()` will mess around with other data editing capabilities. Furthermore, as far as I kno

[2020-10-26 03:48] vorpalvorpal commented on #6
That's a good point about the UI. I hadn't really thought about that.

[2020-10-26 04:38] OliverFishCode opened #7 "[Feature request] Output rcode of all edit actions"
It would be nice if you could output an rscript or code that replicates all actions and edits needed to replicate the data. While this would make editing faster and easier, recode output would help new r users learn and keep the process reproducable

[2020-10-26 04:47] DillonHammill commented on #7
@OliverFishCode, this is on my list of things to do but it will take some time before I get to this. After playing around with this a bit, I think the best approach would be to compare the original data to the edited data and convert the changes to code. I think the `waldo` package may be perfect for this but happy to hear other suggestions...

[2020-10-26 05:09] DillonHammill commented on #7
@OliverFishCode, in the meantime, I just pushed an update to the `devel` branch to add a `code` argument to allow printing of the code required to create the edited data. It will only print code to make the edited object and not the steps made to get from the original data to the edited data.

[code]
If you copy and paste the code in the console, you will be able to the same object as that exporte

[2020-10-27 00:48] DillonHammill commented on #3
This has now been implemented on the `devel` branch.
[code]
![image](https://user-images.githubusercontent.com/28646736/97243231-f494be00-1849-11eb-9c32-fd2ee2a26956.png)

[2020-10-27 00:48] #3 closed

[2020-10-27 01:12] DillonHammill commented on #4
@SatCat, after looking into this, I think that this is an issue with `rhandsontable`. I thought it may be due to the NA that is placed in the dropdown column when a new row is added, but this doesn't seem to be the case. In fact, if you try and do the same operation with a checkbox column this works as expected. I will look into the `rhandsontable` code when I get time, but in the meantime you may

[2020-10-27 05:07] DillonHammill commented on #4
@SatCat, I have tracked down the issue to `genRowHeaders` in `rhandsontable` which is being invoked even when the number of rows is unchanged. This particular issue results from an `afterChange` event which does not contain a `ct` as required by the `genRowHeaders` code. I will need to look into this further to properly figure out why this is happening, in the meantime I have pushed a fix to my `r

[2020-10-29 01:15] DillonHammill commented on #6
@vorpalvorpal, I just realised that you can actually filter the data by typing in the filtering steps into the `data` field. For example, if you only wanted to extract/view/edit only the `setosa` species in `iris` dataset:
![DataEditR-Filter](https://user-images.githubusercontent.com/28646736/97513403-453e1f80-19e0-11eb-9f0f-621bdd83a8aa.gif)
This also means that you can do things like `head(iris)

[2020-11-10 16:45] andresrcs commented on #5
Hi,
How can I programmatically update the values on the `dataEditUI()`? I want to use it as an input template to add records to a database, so after adding a record I would like to get back to the original template, Is there something like a `updateDataEditUI()` function?

[2020-11-10 19:32] DillonHammill commented on #5
@andresrcs, I am working on this as we speak. I am playing around with some data filtering UIs and tackling synchronisation issues. Can you elaborate a bit more on what you hope to achieve? You can pass data through the `data` argument in `dataEditServer`...

[2020-11-10 19:50] andresrcs commented on #5
I want to use a Shiny app as a GUI for adding records to a database, so I want to show an empty template with `dataEditUI()` for the user to fill, then after saving the new record to the database I want to return to an empty template so the user can add the next record.

Maybe with some code to exemplify this will make more sense:
[code]

[2020-11-10 20:08] DillonHammill commented on #5
Thanks, looks like this is pretty straightforward to implement. I will add support for this later today.

[2020-11-10 22:02] DillonHammill commented on #5
@andresrcs, just wanted to point out that you can also achieve this using `reactiveValues` as below:
[code]

[2020-11-10 22:19] andresrcs commented on #5
Thanks for the walk-around (and for a great package!), although, I still think that an "update" function would be more intuitive since it would match the pattern of other input elements, I hope you are still considering implementing it.

[2020-11-10 23:21] DillonHammill commented on #5
@andresrcs, after looking into this, I am not sure that the `update*` (using `sendInputMessage()` or `sendCustomMessage()`) approach will work here. I haven't seen anything cases where inputs to modules can be altered without using the `reactiveValues` approach that described above. Not sure if anyone else has tried to do this before? If there is a way, I would be happy to implement it...

[2020-11-18 23:40] DillonHammill commented on #6
@vorpalvorpal I have added column selection and row filtering modules to the new version of DataEditR that is now available on GitHub.
[code]

[2020-11-18 23:41] DillonHammill commented on #5
Closing since the original issue has been addressed in the new version of DataEditR. Feel free to open a new issue if you encounter any problems.

[2020-11-18 23:41] #5 closed

[2020-11-19 00:23] DillonHammill opened #9 "Adding Rows After Columns - FALSE"
It seems that there may be an issue when rows are added after columns have been added - the values in the added columns change to FALSE. I suspect that this is a `rhandsontable` issue that is caused by the new row setting an `NA` in the created columns where a `handsontable` column type has been set. This doesn't seem to happen all the time, for example in my docker images with `rhandsontable 0.3.

[2020-11-19 00:28] DillonHammill opened #10 "Synchronise Data with Rows/Columns Added/Removed"
At the moment, the `sync` button only works when the dimensionality of the data subset remains unchanged. For example, if you subset the data and add a new column this will throw an error when you attempt to sync the data to the original dataset. There is some complexity in adding support for this operation as we will need to know which of the original columns/rows remain and which ones have been

[2020-11-19 01:53] andresrcs opened #11 "[Feature Request] Date picker as complex user input"
Entering dates as text is hard and unreliable, it would be nice to have a calendar that the user can click on to select dates as with `shiny::dateInput()`

[2020-11-19 02:39] DillonHammill commented on #11
Done! I added support for password custom columns as well. Pass either `"date"` or `"password"` as an option in `col_options`. - V1 & V2 are names of the columns in the template in this case.
[code]

Please pull down the latest version from GitHub:
[code]

[2020-11-19 23:20] vorpalvorpal commented on #6
I just checked it out. Looks awesome! You're a champion.

[2020-11-19 23:47] andresrcs commented on #11
Great! Thanks!.. As a follow-up, I don't know if this request would make sense for other people but I'm in need of using different input types by row, It would be even possible to implement such functionality? My motive is to be able to use the app on a mobile browser where long tables work better than wide ones.

[2020-11-20 00:17] #6 closed

[2020-11-20 00:19] DillonHammill commented on #11
Unfortunately, setting rows types is not supported by rhandsontable. The best you can do is to transpose the data prior to loading the application.

[2020-11-20 00:28] andresrcs commented on #11
I use it to save new records to a database, I spread a "date" row as a column before appending the new records to the table on the database, that way I only have to enter the date once but I was hoping to use this new date-picker functionality. Thanks for looking into this anyway.

[2020-11-22 00:01] #11 closed

[2020-12-10 12:47] Inferno118899 opened #12 "[Bug] - When "Inserting column left/right" other column data is removed"
1) Column data _to the right_ is removed when I add more than one Column. It seems to only happen after I've already added one Column to the left or right. Pictured below with mtcars dataset
[code]

![2020-12-10 23-46-53](https://user-images.githubusercontent.com/25239347/101774345-161fdf80-3b42-11eb-8d60-86775e5baeed.png)
![2020-12-10 23-38-39](https://user-images.githubusercontent.com/25239347/1

[2020-12-11 02:01] #12 closed

[2020-12-11 02:04] DillonHammill commented on #12
Thanks for reporting this @Inferno118899, I just pushed a fix to patch this. It is actually a `rhandsontable` bug that is difficult to track down and fix. So instead I have just patched the code in `dataEdit` to ensure that all the original data is retained when columns are added.

[2020-12-11 03:19] DillonHammill commented on #12
Good news! I managed to track down the problem in `rhandsontable`! Turns out new columns get assigned a column class of `logical` as they are initiated with NA values and when the data is entered it is coerced to class `logical` as well. This forces charcters/numerics to be converted into NAs and so it essentially deletes these entries from the table. I have pushed the relevant fix to my fork of `

[2020-12-11 03:22] #4 closed

[2020-12-12 00:08] DillonHammill commented on #9
Turns out this is due to `rhandsontable` converting NA values to FALSE for checkbox columns. I have pushed a fix to my `rhandsontable` fork that bypasses this conversion when the column is empty.
[code]

[2020-12-12 00:08] #9 closed

[2020-12-12 05:25] Inferno118899 commented on #12
Well Done @DillonHammill !! Great work 👍

[2020-12-16 18:38] gfleetwood opened #13 "Shiny Based Installation Error"
Hi. I tried to install the library from CRAN and got this error:

[code]
I checked and that object is not in shiny 1.4.0. Are you using another version? I'm also running R 3.6.0 on Ubuntu 20.04.

[2020-12-16 20:21] DillonHammill commented on #13
You will need to update your `shiny`. The latest version on CRAN should be fine:
[code]

[2020-12-16 23:21] DillonHammill commented on #13
With 98bdc42b80e3887fbb4ec94eb7e536bcd0d7e910 I have added a dependency on `shiny 1.0.5` so that it will request an update if your shiny version is too low.

[2020-12-16 23:21] #13 closed

[2020-12-22 02:26] higgi13425 opened #14 "Data validation"
It would be great if you could
1. fix the data type for each variable before you begin entering data, or repair them later if guessed wrong
2. set valid ranges for each variable. i.e. systolic blood pressure in healthy adults, 70-160. Out of range values challenged, suggesting you change the range if this value is correct.
3. Set up allowed values for factor variables - drop-down to limit to only

[2020-12-30 22:52] DillonHammill opened #15 "Add find/replace module"
It would be useful to have a find/replace feature within `data_edit()`. Perhaps this could be implemented in the next update as a `dataReplace` module.

[2021-01-05 19:41] TRT08 opened #16 "Edits do not save"
I updated from v. 0.0.5 and the edits I make using the "data_edit" function are no longer reflected in the data frame upon clicking the "done" button (previously the "Save and Close" button). With some testing, I was able to save the edits by clicking the refresh icon, then clicking "done", but that was unintuitive. I have R version 4.0.2 and tested the package alone with no other packages loaded.

[2021-01-07 23:53] AndyBunn commented on #16
I have the same issue. Edits not saved and then:
later: exception occurred while executing callback:
invoke_wrapped: throwing std::runtime_error

after sync and done. Screen recording attached.

https://user-images.githubusercontent.com/12534109/103957854-79c90880-5100-11eb-9af0-ba36cfab071c.mov

.

platform       x86_64-apple-darwin17.0
arch           x86_64
os             darwin17.0
system

[2021-01-09 04:56] DillonHammill commented on #16
The latest version of `DataEditR` works very differently internally compared to previous versions.

The current version actually maintains two distinct copies of the data, the original entire dataset (we can call this the `master` copy) and the other is the data that is actually displayed for editing (this is treated as a subset of the `master` copy). Whenever you make changes to the data you are

[2021-01-09 05:18] DillonHammill commented on #14
@higgi13425, thanks for the feedback!

1. `rhandsontable` does support column types but unfortunately it removes the ability to add/remove rows/columns. To get around this, `DataEditR` does not assign column types at the `rhandsontable` level but instead sorts them out afterwards using `utils::type.convert()`. This means that class of the column is dependent on the data that is entered, i.e. if th

[2021-02-21 15:39] jrojasquiroz opened #17 "Can not load the data.frame"
I had installed the add-in with no problem. But when I tried to open a data frame this message appears:
[code]
So, I tried with another one and another similar message appears:
[code]

[2021-02-21 22:29] DillonHammill commented on #17
Hmmm, looks like there are some non-standard characters in the data.frame. Are you able to share the data so that I can troubleshoot this? You can save the data.frame to an .rds file and share a link?
[code]

Can you also provide the printout of `class(df)` prior to using the addin?

[2021-05-10 03:23] DillonHammill opened #18 "Loading Data from Within a Function"
Looks like there are some environment issue with `dataInput()` when `data_edit()` is called inside another function. For example, no data is displayed with the following:
[code]
I suspect this is because `dataInput` is searching for data in the wrong environment. I will need to set the search environment to the `parent.frame()` of `data_edit()` in order for this to work.

[2021-05-10 03:24] DillonHammill commented on #18
Above mentioned changes have been implemented in `DataEditR v0.1.1`, in addition to preventing loading of highlighted objects in RStudio when data ahs been supplied directly to `data_edit()`.

[2021-05-10 03:24] #18 closed

[2021-05-11 16:16] AntonyRono commented on #16
Any updated on this issue?

[2021-05-11 20:50] DillonHammill commented on #16
@AntonyRono, I think this issue has been resolved? If I follow the same steps in the video above, I am able to save the edits after hitting the `sync` button (which is the desired behaviour). Please can you try the new version and let me know if it works for you?

[2021-05-11 21:11] DillonHammill commented on #16
Also I should mention that you need to install my fork of `rhandsontable` for this to work properly. Looks like my changes still have not been merged `rhandsontable`.
[code]

[2021-05-11 21:13] DillonHammill commented on #16
@AndyBunn can you confirm whether the issue is resolved if you have the above version of `rhandsontable` installed? I added a patch a while back to specifically handle creation of new columns and NA values.

[2021-05-11 21:28] DillonHammill commented on #16
Thanks @AndyBunn, I just updated the installation instructions on the website to include `rhandsontable`. I thought these changes would have been merged by now, I will contact the maintainer so that these changes will available on CRAN.

[2021-05-11 21:30] AndyBunn commented on #16
Thanks a zillion!

From: Dillon Hammill ***@***.***>
Reply-To: DillonHammill/DataEditR ***@***.***>
Date: Tuesday, May 11, 2021 at 2:29 PM
To: DillonHammill/DataEditR ***@***.***>
Cc: Andy Bunn ***@***.***>, Mention ***@***.***>
Subject: Re: [DillonHammill/DataEditR] Edits do not save (#16)

Thanks @AndyBunn<https://nam11.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAndyBunn&da

[2021-05-12 07:02] AntonyRono commented on #16
@DillonHammill  All good now,  after installing rhandsontable. Thank you very much!!

[2021-05-17 18:19] towananalytics opened #19 "Cannot hide upload/download options in Shiny"
Firstly - thank you for creating this package, I have been searching for something like this for a long time! It is so easy to use with Shiny!

I have encountered the following minor issue:

`hide = TRUE` argument does not seem to hide the download/upload options when running dataEditServer() directly from shiny.

My app uses a separate download/upload option in a side panel, which works with the

[2021-05-17 21:26] DillonHammill commented on #19
It is difficult to help without a reproducible example. Do you have some code you can share?

These UI elements come from the the dataInput module not the dataEdit module. Perhaps you need to pass `hide = TRUE` to `dataInput()`.

[2021-05-18 13:38] drcanak opened #20 "Error: "cannot open the connection" when dataframe name contains a ".""
The first line of the the following code works as expected.

data_edit(mpg)
mpg.1 <- mpg
data_edit(mpg.1)

However, when the dataframe name contains a "." the following error gets triggered:

Listening on http://127.0.0.1:6197
Warning in file(file, "rt") :
  cannot open file 'mpg.1': No such file or directory
Warning: Error in file: cannot open the connection
  61: file
  60: read.table
  59: read

[2021-05-18 23:19] DillonHammill commented on #20
It is not good practice to use `.` when naming objects in R, instead you should use `_`. The main reason for this is that `.` is used primarily when supplying the name of file and so `mpg.1` looks like a file called `mpg` with an extension `1`.  It is not documented on the website, but `data_edit()` can also read in files directly so when it sees `mpg.1` it tries to read in a file with extension `

[2021-05-19 01:42] drcanak commented on #20
Good to know.  Thank you for the quick and thoughtful reply.

[2021-05-19 05:06] #20 closed

[2021-05-19 05:43] DillonHammill commented on #20
Happy to help! Have fun using DataEditR!

[2021-05-25 01:11] higgi13425 commented on #14
The dropdowns and checkboxes and date selection are great for data entry error prevention - but it would be awesome to somehow add limits to fields - min and max for weight/height/birthdate/systolicBP - so an out-of-range entry (e.g blood pressure of 1400) will be rejected. Error rates for data entry run 3-6% per cell. Pro-active error prevention is really important for valuable data.

[2021-05-25 01:46] DillonHammill commented on #14
@higgi13425, I like the idea of validating column entries.

I guess I could do something like this for numeric columns:
[code]
Similarly for charcter columns:
[code]

The main question is what do you expect to happen when the entered data does not match these requirements? Do we make the cell empty again?

[2021-05-25 02:21] DillonHammill commented on #14
Looking at my previous comments, I think it would be a better idea to extend this functionality to `col_options()` instead. The reason for this is that if levels are set for a character column then we should use dropdowns (user can still type and best match displayed) but for numeric columns we just check if the data is within range or remove it.
[code]
The challenge will be in checking the edited

[2021-05-25 22:52] AndyBunn opened #21 "[Feature Request] Text on icon mouseover?"
Would it be possible to have text appear when you mouse over one of the buttons on the editor?

[2021-05-25 23:14] DillonHammill commented on #21
@AndyBunn, this is on my list of things to do. It should be pretty straightforward using `shinyBS`.

[2021-05-26 00:07] DillonHammill commented on #21
Done! Added to DataEditR v0.1.3 which is available for download from GitHub:
[code]

![DataEditR 0 1 3](https://user-images.githubusercontent.com/28646736/119583462-081cfd00-be0a-11eb-9bd9-ac615492762c.gif)

[2021-05-26 18:56] AndyBunn commented on #21
Thanks!

From: Dillon Hammill ***@***.***>
Reply-To: DillonHammill/DataEditR ***@***.***>
Date: Tuesday, May 25, 2021 at 5:08 PM
To: DillonHammill/DataEditR ***@***.***>
Cc: Andy Bunn ***@***.***>, Mention ***@***.***>
Subject: Re: [DillonHammill/DataEditR] [Feature Request] Text on icon mouseover? (#21)

Done! Added to DataEditR v0.1.3 which is available for download from GitHub:

devtools::insta

[2021-05-26 20:40] #21 closed

[2021-05-26 23:31] DillonHammill commented on #20
@drcanak, in case anyone else encounters the same issue,  I have just added a patch for this in `DataEditR v0.1.3` which is available for download from GitHub:
[code]

[2021-05-27 04:11] DillonHammill opened #22 "Dialog viewer not appropriate when calling data_edit() inside another function"
If you call `data_edit()` inside another function and set `viewer = "dialog"`, the parental function exits early when the data editor is closed. See example:
[code]

This issue has been reported (https://github.com/rstudio/shiny/issues/1723) but it looks like the only solution is to switch to using `viewer = "browser"` or `viewer = "pane"` in `data_edit()`.

[2021-05-27 04:12] DillonHammill commented on #22
As mentioned above, this works:
[code]

[2021-05-27 04:12] #22 closed

[2021-05-27 23:13] DillonHammill commented on #14
Adding a note to take a look at the [pointblank](https://github.com/rich-iannone/pointblank) package when I get time to address this request.

[2021-05-30 16:54] towananalytics commented on #19
Thanks for the response - I realised that I didn't need the `dataInputServer()` - I'm passing data via another method - which of course removed the highlighted area I showed above...

This is not an issue - thanks again.

[2021-05-30 16:54] #19 closed

[2021-07-06 08:49] ShinyFabio opened #23 "what about a guided tour?"
Hi, I'm building a very complex shiny app and I have some internal data that has to be editable in the future (like adding more rows). My first question is: can I upload and use an "updated .csv file" in order to update my internal data? (some .rda files that came from  csv files) I didn't see an "upload button".

Then I have a suggestion for you. Your package looks amazing, but since my app will

[2021-07-07 05:58] DillonHammill commented on #23
The latest version of DataEditR (on GitHub) does add labels to buttons upon hovering to make it easier to see what each button does. In the long run, I will be putting together a video to describe all the functionality of the package and perhaps add a guided tour as you mentioned.

In terms of your initial question, I suspect that the answer is yes but I will more information from you if I am goin

[2021-07-07 09:14] ShinyFabio commented on #23
So the cran version doesn't have these labels yet?

Regarding my first question I wanted to update my default internal data (let's call it "data_2020") with a new file ("data_2021") so like with the `rbind()` function. I thought that there was the possibility to load a dataset and update it with a new csv file. However I managed to do it by myself (what I was searching for was too specific).

Anyw

[2021-07-08 05:58] DillonHammill commented on #23
Thanks for spotting that, there is definitely a typo in that example. I just pushed a fix to GitHub to fix this:
[code]
DataEditR v0.1.3 is available on GitHub and is perfectly fine to use. The only new features are the button labels that I mentioned and row/column highlighting is now turn on when a cell is selected (see video below). I will push these updates to CRAN soon.
![DataEditR_v0 1 3](htt

[2021-07-08 06:48] ShinyFabio commented on #23
Oh ok so if I need all the functions of `data_edit()` I have to use all the modules. Regarding my question, yes that's exactly what I was searching for. I started loading and read the csv file and then manually merge to the other with `rbind()`. I didn't see the `row_bind` argument. I will check it! Thanks a lot!

[2021-07-08 06:48] #23 closed

[2021-07-09 08:14] ShinyFabio opened #24 "bug if used inside a modal"
Hi again,
I've found a bug if I use the package inside a modal. Here's the code where you can reproduce the error. The bug appears if you try to change the column names or the row names.

[code]

I notice that you use the `{rhandsontable}` package. Maybe this can be useful:
https://stackoverflow.com/questions/52697624/handsontable-in-shiny-modal-does-not-render-properly

[2021-07-10 00:06] DillonHammill commented on #24
This doesn't look like a `rhandsontable` issue. I suspect that it has something to do with the JavaScript code that I added to allow the editing of row/column headers - for some reason it is not being invoked within the `modalDialog` window. Due to my limited JS knowledge, I will need to ask for some external help if we are going to get this to work properly.

I remember @timelyportfolio helped me

[2021-07-13 07:00] DillonHammill commented on #23
Adding this here for anyone else who may be interested in how the DataEditR modules fit together within `data_edit()`:

![DataEditR Modules](https://user-images.githubusercontent.com/28646736/125406042-bf41f780-e3fb-11eb-8489-e33ee7f7f50e.PNG)

[2021-07-13 07:37] ShinyFabio commented on #23
Great! I think you can also put inside the readme! It will have more visibility.

[2021-07-15 20:47] mtyszler commented on #3
Hi @DillonHammill ,

I'm still having this problem, using the latest version

If I just click on "Done" changes are lost. Only if I click `sync` it updates. Any hints?

[2021-07-15 20:52] mtyszler commented on #16
Hi @DillonHammill

I'm still having this problem. I can only get the data to be updated by using the `sync` button

[2021-07-15 21:06] DillonHammill commented on #16
@mtszler this is by desgn. Have a look at this diagram for an overview of the internals of `data_edit()`. The entire dataset is returned by default (if cut button isn't used) and so a sync is required.
https://user-images.githubusercontent.com/28646736/125406042-bf41f780-e3fb-11eb-8489-e33ee7f7f50e.PNG

[2021-07-16 18:16] mtyszler commented on #16
Tks for the clarification. Honestly what I find "dangerous" is that a user will click the _Done_ button or just close the viewer/browser and assume edits had been saved.

So I'll need to warn my users that they need to clink on the sync button to save the changes

[2021-07-24 09:01] lgirola opened #25 "Bug if used within a model"
Hi, rhandsontable is very useful for the types of models I work with. And in combination with modal dialogue, it makes the model input process very user friendly.

However, when an rhandsontable is rendered in a modal box, depending on the circumstance only a part of the table is rendered until the user clicks on the partially rendered table. Is this a bug, or am I using rhandsontable incorrectly?

[2021-07-24 09:13] DillonHammill commented on #25
@lgirola, this is a known rhandsontable issue (#24). Please post your issue there https://github.com/jrowen/rhandsontable/issues as there is nothing I can do from the DataEditR side of things to fix this.

[2021-07-24 09:13] #25 closed

[2021-07-24 14:03] lgirola commented on #24
Hi,

I'm having issues with running rhandsontable from within a modal too.

When rhandsontable is rendered in a modal box, depending on the circumstance only a part of the table is rendered until the user clicks on the partially rendered table. Is this a bug, or am I using rhandsontable incorrectly? Please see super simple MWE code below. It renders the initial table just fine, but when the user m

[2021-07-24 14:11] lgirola commented on #25
Hi Dillon, I tried reposting it correctly this time. I'm not sure I did it right, I'm new to github

Thanks, Lou
--
 Sent with Tutanota, the secure & ad-free mailbox.

Jul 24, 2021, 11:14 by ***@***.***:

[2021-07-24 21:36] DillonHammill commented on #25
Thanks!

[2021-07-25 15:26] RoshanPShetty opened #26 "Writing to googlesheets"
Hi @DillonHammill Thank you for creating this wonderful package! I wanted to know if it was possible to write and save the data from the shiny app to googlesheets instead of having to save it on our local storage.

[2021-07-26 00:29] DillonHammill commented on #26
@RoshanPShetty thanks for bringing this up. After playing around with this a bit, it turns out that we cannot write to `googlesheets` after closing the data editor - instead we have to write to file before the app closes. I have made this change to the development version of DataEditR (v0.1.4) on GitHub.
[code]

[2021-07-28 01:07] DillonHammill commented on #24
@lgirola, this should solve your issue:
[code]

[2021-07-28 06:01] lgirola commented on #24
Thank you Dillon,  that works nicely. However, note that clicking the "Reset" button should cause the table to revert back to 2 columns/rows of random variables eliminating all user changes to the table.  With your changes, Reset no longer works.

In this original MWE code immediately below, clicking "Reset" removes all the user inputs and reverts back to the original 2x2, but again with that same

[2021-08-05 20:02] alanryder opened #27 "data_edit() from within a function?"
df <- data_edit(df) works on the console (really nicely!).  I would like to be able to call df <- data_edit(df) from within a function, but when I do that I get:

Warning in file(file, "rt") :
  cannot open file 'df': No such file or directory
Warning: Error in file: cannot open the connection
  62: file
  61: read.table
  60: read.csv
  58: module
  53: callModule
  52: moduleServer
  51: dataInp

[2021-08-05 21:26] DillonHammill commented on #27
Sounds like a scoping issue. If you define your data within your function before calling `data_edit()` it should work. I will take a closer look later today.

[2021-08-05 21:28] #26 closed

[2021-08-05 21:28] #17 closed

[2021-08-08 15:11] timelyportfolio commented on #24
please see https://github.com/jrowen/rhandsontable/issues/387 as a step toward a solution

[2021-08-08 23:38] DillonHammill commented on #24
Thanks so much for looking into this @timelyportfolio! Do you mind taking a look at the original issue as well (i.e. the row/column editing). I have done some additional testing and if I click on a column name I cannot edit it in the modal dialog, but if I close the dialog the cell for the column name that I wanted to edit appears (i.e. column headers shown in `mainPage()` rather than modal). Perh

[2021-08-08 23:44] DillonHammill commented on #24
@timelyportfolio, I have tried increasing the `z-index` in the `dataEdit` module to `10000`. If I do this the box to edit the column headers does appear, however I am unable to edit the text. Perhaps I need to up the `z-index` for other components as well?
https://github.com/DillonHammill/DataEditR/blob/5e10bc8c4af792bb0ba096ebdf493e0b09117db6/R/dataEdit.R#L418

[2021-08-11 13:13] alanryder commented on #27
You seem to be right.

test_edit <- function(df) {
df2 <- df
df2 <- data_edit(df2)
return(df2)
}

seems to behave as I want.

Thanks for your help.

[2021-08-11 13:13] #27 closed

[2021-08-11 18:40] FilipeamTeixeira commented on #19
Unfortunately I have exactly the same problem here:

`library(DataEditR)
library(shiny)

ui <- fluidPage(
  splitLayout(
    dataInputUI("input1"),
    dataOutputUI("output1"),
    actionButton("done", "Done!"),
    cellWidths = c("60%", "20%", "20%")
  ),
  dataEditUI("edit1")
)

server <- function(input, output, session) {

  # DATA INPUT
  data_input <- dataInputServer("input1", hide = TRUE)

[2021-08-11 18:43] FilipeamTeixeira opened #28 "Cannot hide upload fields in shiny"
Unfortunately I have exactly the same problem as someone described before. The input menus cannot be hidden.

[code]

[2021-09-02 13:26] ShinyFabio opened #29 "How to use all modules inside a shiny app"
Hi Dillon, I'm developing another shiny app and now I need all the modules (filter,select,sync and so long). Could you explain me how I can use all the modules together? For example the correct order of the functions in the server part. I searched in every help and tried some combinations but nothing seems to work. I wrote this example but it doesn't work.

[code]

[2021-09-03 00:11] andresrcs opened #30 "[Feature Request] sliderInput as complex user input"
Hi, if possible it would be nice to be able to use sliderInput as user input, this could work for example as a way to enforce a Likert scale.

[2021-09-03 01:21] DillonHammill commented on #30
@andresrcs, I thought about adding this too. The only issue is that it is not supported by handsontable, at least in the version that we are restricted to using due to licensing.

[2021-09-03 01:23] DillonHammill commented on #29
@ShinyFabio the best thing you can do is look at the way that I have written the [data_edit()](https://github.com/DillonHammill/DataEditR/blob/master/R/data_edit.R) function it should give you some hints as to how everything fits together.

[2021-09-03 01:24] DillonHammill commented on #28
@FilipeamTeixeira, just acknowledging that I do see this issue too - I will take a closer look soon.

[2021-09-03 01:29] DillonHammill commented on #24
@ShinyFabio, unfortunately this won't fix your original issue related to editing of column/row names in modal dialogs. As I mentioned above this is quite complicated and I have not yet been able to get it to work. You will also notice that the proposed solution does not work in all instances - I hope that a more permanent fix will come in the near future. For now, I think I will leave the code in

[2021-09-03 06:59] ShinyFabio commented on #24
I tried also to set `col_names = FALSE` but when I click on a column name (for example to select the entire column) the problem is still there. We will hope for a fix !

[2021-09-07 18:04] rodrigosantana opened #31 "data_edit function does not work without RStudio IDE"
Hi Dillon Hammil,

I am not a user of RStudio IDE, but I would like to test and use your package.
Unfortunately, when I try to use the function data_edit, I receive the error message that RStudio not running.

I try to change the viewer to the browser, but this change did not solve the problem. Looking through the vignette, I did not find that RStudio is a requirement or dependency for the package

[2021-09-07 23:49] DillonHammill commented on #31
@rodrigosantana, thanks for reporting this issue. I have just pushed an update to the devel version of DataEditR (v0.1.4) on GitHub.
Please install the new version and try again:
[code]

[2021-09-12 17:09] andresrcs opened #32 "[Feature Request] Alow to select which columns should be visible"
It would be useful to have the option to hide some columns from the user but keep them available for posterior use, a use case for this is Id columns that will be used to interact with databases but they take unnecessary space in the UI

[2021-09-13 17:27] cognitivepsychology opened #33 "Error in type.convert.default"
My data frame (usually tibble format) is not displayed at the pop-up window when I run the data_edit function.
Actually. at first it worked fine, but at some point it started causing errors.
Though the pop-up appears a few seconds, it always fleetingly is shut with the following error message:

data_edit(my_data)
필요한 패키지를 로딩중입니다: shiny

[code]
For your information, my locale information is as foll

[2021-09-18 07:02] DillonHammill commented on #33
@cognitivepsychology, definitely looks like an issue caused by non-ASCII characters in your data. Unfortunately I don't have any experience trying to work with such characters in R, but from what I have read it seems that it is important to set the `locale` and `encoding` when reading in the data. Not sure how you have read your data into R, but since it is a tibble I suspect that maybe used `read

[2021-09-18 15:30] cognitivepsychology commented on #33
Thank you for your answer, Mr. Hammill. Unfortunately, it seems that I didn't set the locale and the encoding properly when I read my data. Since I already walked a too long long code-way from the point of importing the data, it is to be almost impossible to re-read my data at this moment to fix the problem. However, I'll definitely try your suggestion next time. Thank you for your advice and your

[2021-09-20 04:20] DillonHammill opened #34 "data_edit() does not appropriately handle empty datasets"
We cannot set `rownames` on a zero row dataset, hence why the following example causes `data_edit()` to crash:
[code]

Need to do a check on row numbers when annotating `rownames`, perhaps we can add an empty row so that `rownames` can be set.

[2021-09-20 04:44] DillonHammill commented on #34
So, we can add an empty row to the data within the `DataEdit` module to allow us to load the data. Since the data is in matrix format, there is no type conversion performed so any numerics entered will be treated as character strings. This is because we have to place empty characters strings in the empty row - if we set these values to NA then the edits are not saved (probably due to the logical c

[2021-09-20 07:05] DillonHammill commented on #34
After debugging this in `rhandsontable` the error arises due to the data being duplicated for some reason when a new row is added. Basically an `afterChange` event is triggered which results in data with excess columns (due to duplication)  which triggers the `genColHeaders()` function in `rhandsontable` and gives rise to the error. I suspect that this is a similar issue to the one I previously fa

[2021-09-20 08:02] DillonHammill commented on #34
OK, I tracked down the bug to `rhandsontable()`. Turns out there is a loop that is run when `useTypes = FALSE` (as used by DataEditR) which formats the data before it is used by `htmlwidgets::createWidget`. This issue occurs when you try to call `lapply` on an empty matrix it returns individual elements instead of a vector per column - as a result the data is actually coerced into a long vector wh

[2021-09-20 08:36] DillonHammill commented on #34
I have followed this up with additional commits to `dataInput` and `dataEdit` to ensure that the supplied data always has at least one row and column. This update is only available on GitHub at the moment and requires the changes I made to my `rhandsontable` fork as well:
[code]

I will upload the new version DataEditR (v0.1.4) with these changes to CRAN as soon as I get some time.

[2021-09-20 08:36] #34 closed

[2021-10-05 10:44] psads-git opened #35 "DataEditR aborts when one tries to paste more columns than the available"
Suppose one removes all columns but one and, subsequently, tries to paste 3 columns from, say, a spreadsheet, DataEditR simply aborts. Should not DataEditR add more columns in order to accommodate the whole pasted data?

[2021-10-05 10:46] DillonHammill commented on #35
DataEditR only allows addition of columns one at a time, so you need to add the columns before pasting the data.

[2021-10-05 10:49] psads-git commented on #35
Thanks, Dillon. In any case, DataEditR should not abort and should instead inform the user about that feature of DataEditR.

[2021-10-05 10:52] DillonHammill commented on #35
Unfortunately this is handled at the rhandsontable level so there is not much I can do here. Let's leave this issue open for now and I will dive into the rhandsontable code when I get a chance.

[2021-10-05 11:13] psads-git commented on #35
That is OK, Dillon. Thanks!

Interestingly, if one pastes more rows than the ones available, there is no issue and DataEditR adjusts the number of rows as needed.

[2021-10-18 20:05] psads-git opened #36 "Paste table also with headers"
When pasting a table with headers into DateEdiR, the headers go to the first row. To move the headers to the headers of DateEditR may be too long, specially when there are many columns. So, it would be very convenient if some way of pasting with headers was implemented. Maybe with SHIFT+CONTROL+V ?

Thanks!

[2021-12-01 17:09] palderman opened #37 "Feature Request: "Data Validation" functionality"
Hi @DillonHammill ,

I recently stumbled across your package in my search for an R solution for data entry/data capture. It seems like your package would largely fit the bill.

However, I don't see any capability for restricting the range of numerical input values as part of a "Data Validation" workflow when entering data (see e.g. [https://datacarpentry.org/spreadsheet-ecology-lesson/04-quality-c

[2021-12-02 02:54] DillonHammill commented on #37
Hi @palderman, this feature has been on my to do list for a while now (#14) but I haven't had time to look at it further. I would be more than happy to review a PR to add improved support for validating data entries.

As discussed in #14 I think the `col_options` argument would be a good place to add support for this. For example we could do something similar to the code below to restrict entries

[2021-12-02 15:00] palderman commented on #37
Sorry for missing #14. I should have checked the existing issues more thoroughly.

I was thinking of something along the lines you outlined above for an integer with hard min/max values:

[code]
Errant values in that case would be rejected, but I was also thinking of being able to warn about out-of-range values instead of rejecting them out right. In that case, supposing you have an integer that i

[2021-12-02 19:35] DillonHammill commented on #37
Looks like a good starting point. I have played around with colouring cells and it is complicated.

For DataEditR to work, we need to set `useTypes = FALSE` in `rhandsontable()` which means we cannot make calls to `hot_col()` or `hot_cell()` to format the cells. Perhaps you will find a way to get this to work.

[2021-12-03 17:08] luis-zapata-b opened #38 "DataEdit as a function is not working"
Hello,
When i try to save the result of the function, it does not work.

for example:

Will not save any changes in mtcars2.

Here is my session info:
R version 4.1.2 (2021-11-01)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 18363)

Matrix products: default

locale:
[1] LC_COLLATE=Spanish_Peru.1252  LC_CTYPE=Spanish_Peru.1252    LC_MONETARY=Spanish_Peru.1252
[4] L

[2021-12-03 17:46] BaruqueRodrigues commented on #37
Dillon, I have a question.

I'm running DataEditR:: inside shiny as I need to validate multiple databases, however col_options() has a stop(!all(colnames %in% df)) if the columns are not contained in the dataframe. Do you have any suggestions, other than rewriting the function locally, on how to deal with this issue?

[2021-12-03 20:36] DillonHammill commented on #38
You have to use the sync button to merge changes to the master copy of the data.

[2021-12-03 21:27] DillonHammill commented on #37
@BarqueRodrigues can you poibt me to exactly where that line exists in the code? I can take a look.

[2021-12-03 21:36] BaruqueRodrigues commented on #37
Dillon, line 47 DataEditR::dataEditServer
`        **if (!is.null(col_readonly)) {
          if (!all(col_readonly %in% colnames(data_to_edit)))** {
            stop("'col_readonly' must contain valid column names.")
          }
          values$col_names <- unique(c(col_names, col_readonly))`

[2021-12-03 21:37] BaruqueRodrigues commented on #37
Dillon in line 47 on DataEditR::dataEditServer
`        if (!is.null(col_readonly)) {
          if (!all(col_readonly %in% colnames(data_to_edit))) {
            stop("'col_readonly' must contain valid column names.")
          }
          values$col_names <- unique(c(col_names, col_readonly))
        }`

[2021-12-03 21:48] DillonHammill commented on #37
So you are using `col_readonly`? In that case it must match the columns in the data. What is your use case? You have some code I can look at?

[2021-12-15 15:55] Danny-dK opened #39 "data_edit() crashes when code is highlighted before running"
This works:
Drag select entire line and run.
[code]

But this doesn't (i.e. breaking the line):
Drag select all lines and run.
[code]

It returns with error:

[code]

it does run if I place the cursor on the first line (so not selecting anything) and then run.

Is that to be expected?

System:
windows 10
R 4.1.2
Rstudio 2021.9.1.372
DataEditR 0.1.4

[2021-12-16 02:18] DillonHammill commented on #39
I think the error is coming from specifying `read_fun` when you are not readying the data from file (i.e. you are in fact using an empty template). If you remove the `read_fun` part it should work fine. I will take a closer look to see if I put in a more permanent fix to prevent this from happening.

[2021-12-16 02:54] DillonHammill commented on #39
@Danny-dK, I can't seem to replicate this issue on my machine but I have just pushed a fix that will hopefully fix the problem for you. Please pull down the latest version of DataEditR from GitHub and try again:
[code]

[2021-12-16 08:05] Danny-dK commented on #39
Thanks @DillonHammill  for looking into it. The read function is needed to tell the library what function to use when reading in the data in the graphical user interface (by clicking on the browse button):
![image](https://user-images.githubusercontent.com/45395070/146331195-33e0ad8f-397c-4c50-955b-f0642d2f4dcc.png)

My csv is ; delimited, hence it requires csv2, the default of read.csv that DataE

[2021-12-16 08:28] Danny-dK commented on #39
Nope, the new version has the same

https://user-images.githubusercontent.com/45395070/146334633-a8536002-d2cc-4acf-9dfe-85bc17d6c4cc.mp4

I tried to screenrecord a short video which was in webm but I tried converting to mp4 (hopefully it plays okay).

The associated error in the console is:

[code]

[2021-12-16 09:15] DillonHammill commented on #39
Thanks @Danny-dK, this is helpful - looks like the app is crashing as it is trying to read in `NULL` data for some reason. I will take a closer look. In the meantime, this should work just fine:
[code]

[2021-12-16 09:57] Danny-dK commented on #39
@DillonHammill  yep that solves it! Tis a minor thing for me to add the table dimensions now that I know how to solve it.

[2021-12-16 10:09] DillonHammill commented on #39
@Danny-dK, I just pushed another fix to GitHub. Please can you pull it down again and let me know if the original issue is resolved?
[code]

[2021-12-16 11:19] Danny-dK commented on #39
@DillonHammill At least it doesn't crash now, but......

![image](https://user-images.githubusercontent.com/45395070/146362447-d660ddca-9e2b-4cd4-986f-813cffbeb263.png)

[2021-12-16 21:09] DillonHammill commented on #39
Ah I think I am onto the problem now, I will try and fix this today.

[2021-12-16 22:33] DillonHammill commented on #39
OK, so the issue was actually coming from the RStudio addin side of things. Any highlighted text is treated as a dataset that should be passed to the `data_edit()` addin, obviously we don't want this behaviour when the entire `data_edit()` call is highlighted. I just pushed a fix to make sure the highlighted text is in fact an R object before trying to read it in as data. Please pull down the late

[2021-12-17 08:10] Danny-dK commented on #39
@DillonHammill  Awesome, it's solved.

Thank you for looking into it. Also thank you for all the work on this library, it is much appreciated! (it will do wonders for my colleagues that are not experienced with R and are more used to graphical user interfaces) Keep up the good work! :)

[2021-12-17 08:11] DillonHammill commented on #39
No worries! Thanks for reporting this issue.

[2021-12-17 08:12] #39 closed

[2021-12-21 22:38] DillonHammill opened #40 "Option to not display rownames in editor"
Based on use cases within CytoExploreR, it would be handy to have an option to control whether the rownames are displayed in the editor. Ideally the rownames would be present in the output but just not displayed to the user.

However, I suspect that a feature would only work if `row_edit = FALSE` - as adding/removing rows would require addition/removal of unique rownames from the original data.

[2022-01-05 10:19] moodymudskipper commented on #38
This confused me too. I don't feel that "sync" describes the action best and it's error prone, could we maybe have an auto sync option ? Maybe renaming the "done" button to "quit" or "close" would also hint a bit more. Another option would be to have a "sync and close" button next to "done". I think that would have been enough to figure it out by myself.

Thanks for the great work.

[2022-01-07 17:16] jon23cooper opened #41 "data_edit crashes when synchronizing edited filtered data"
When I load a data set into data_edit, create a filter and make an edit, if I then click synchronize data_edit crashes emiting 2 warnings:
Warning: non-unique values when setting 'row.names'
Warning: Error in .rowNamesDF<-: duplicate 'row.names' are not allowed

Making an edit and synchronizing without  filtering does not cause a crash.

[2022-01-08 00:30] DillonHammill commented on #41
@jon23cooper, this seems to work fine on my end. Did you add/remove rows before hitting the `sync` button? I haven't yet added support for this. Things get a bit tricky when rows/columns are removed in filtered subsets - should these be added/removed from the master copy when the `sync` button is hit? I don't yet know the best answer to this question.

[2022-01-08 10:21] jon23cooper commented on #41
@DillonHammill I have not added or removed rows or columns. I have tried locally and on R studio cloud.
d <- data.frame("col" = c("a", "b"))
data_edit(d)

If I filter on col equals a and change a to a1 and synchronize no problem
If I filter on col equals b and change b to b1 and synchronize I get a crash
Warning: non-unique value when setting 'row.names': ‘1’
Warning: Error in .rowNamesDF<-: dupli

[2022-01-08 10:23] DillonHammill commented on #41
OK I see thanks for the example. I will take a closer look tomorrow.

[2022-01-09 05:41] DillonHammill commented on #41
Thanks for reporting this issue @jon23cooper! It proved to be a bit more complicated than I would have liked because I have to do I few tricks with the `rownames` to get everything to work properly. I have just put some notes below in case I have to re-visit this issue in the future - feel free to skip to end.

Basically, `numeric` rownames are handled differently to `character` rownames within `D

[2022-01-09 09:51] jon23cooper commented on #41
Thanks Dillon,
I have downloaded and installed the new version from GitHub and that is working for me. I'm guessing there must be a reason you don't just treat numeric rownames the same way as character rownames. I am using it with data containing a few hundred thousand rows, and rownames are visible though you are losing a tiny bit of the last digit on 6-figure numbers.

[2022-01-09 10:07] DillonHammill commented on #41
That's great! Wow that is a pretty large dataset! When I get time I will see if I can add a bit more space for the row indices so that they render nicely. The UI gets a bit confusing if we import the row indices into the table. Feel free to play around a bit more and close this issue when you are happy that it is fixed. Let me know if you encounter any issues. I will hold off on submitting this up

[2022-01-13 18:26] #41 closed

[2022-01-17 01:26] DillonHammill opened #42 "Using data_edit() to Modify Data in Databases"
This is not yet documented on the website, but `data_edit()` can be used to modify data stored in databases. The trick is that most database writing functions expect a `connection` as their first argument, whilst DataEditR passes arguments to these functions in the following order: 1. data -> 2. save_as -> 3. write_args. The workaround is to write a wrapper function that fixes the order of the arg

[2022-01-17 01:26] #42 closed

[2022-02-10 10:24] #29 closed

[2022-02-10 10:41] ShinyFabio opened #43 "FIlter rows multiple times"
Hi,
I use your package inside a shinyApp but the problem exists also with the `data_edit()` function so I'll write an example based on that function.

So after launched the function with my data, I have a problem with the filtering on rows. What I did is applying a filter on rows (i.e. EXP_ID equal to _101_) and then clicking on the Close button. Everything works fine. Now imagine that I made a mi

[2022-02-11 11:57] andy-shaps opened #44 "slow to update"
Hi,

Great package. very intuitive and simple to use.

My issue however is when I load a large (ish) dataframe of ~1000 rows and 50 columns, when I use the complex user inputs such as check boxes or dropdown menus, it can take a while to register the input. It is only about a second but this is for each input and so makes its unrealistic to use for large datasets. Is there a way this could be sped

[2022-02-12 04:45] DillonHammill commented on #28
@FilipeamTeixeira, all you need to do is make you load `shinyjs` and add `useSinyjs()` to the `ui` of your shiny application.
[code]

[2022-02-12 04:46] #28 closed

[2022-02-12 04:46] #31 closed

[2022-02-12 04:46] #16 closed

[2022-02-12 04:47] #38 closed

[2022-02-24 17:12] dcmg21 opened #45 "Data Not Saving"
When trying to save edits to a new dataframe nothing saves.  Are you supposed to just hit done?

[2022-02-24 19:31] DillonHammill commented on #45
@dcmg21 you need to hit the sync button before saving in order to keep your changes.

[2022-02-24 22:16] dcmg21 commented on #45
@DillonHammill and when clicking Done that will save the changes?

[2022-02-24 22:33] DillonHammill commented on #45
Yes, hitting done simply returns the edited copy of the data. If you don't hit `sync` it will return the original copy of the data. This is only temporary, in future updates the `sync` will be removed.

[2022-02-26 05:44] #45 closed

[2022-03-01 13:51] GakenouOF opened #46 "Error in shinytheme(theme):"
I have just installed the package and i tried using the `data_edit` function on my dataset. It keeps returning this error

_Error in shinytheme(theme):
    yeti is not an available theme. Valid themes are: ._

![Screenshot 2022-03-01 154520](https://user-images.githubusercontent.com/48384837/156180330-4c8f280a-e0c3-4bd4-8527-5807fde6d7b4.jpg)

PS: This package worked fine on a computer i was using

[2022-03-01 19:59] DillonHammill commented on #46
Have you tried using a different theme?
[code]

[2022-03-01 20:22] GakenouOF commented on #46
I just tried it, say it is not an available theme

[2022-03-01 20:27] GakenouOF commented on #46
I am using the latest version (1.2.0)

[2022-03-05 23:37] drpturner commented on #46
Same for me unfortunately (Win11, R 4.1.0, RStudio 2022.02.0 Build 443, shinythemes 1.2.0).
Other shiny apps working as expected

[2022-03-06 00:23] DillonHammill commented on #46
Looks like `shinythemes` has been depreciated in favour of `bslib` and this has recently changed in `shiny` as well. I tried upgrading to `bslib` but it causes some issue with the UI - I wil need to fiddle around with this a bit to get it to work.

In the meantime, I have just pushed an update to GitHub to bypass setting a theme when `theme = NULL`.
[code]

[2022-03-06 00:37] drpturner commented on #46
Thanks very much for the quick response - this update works for me

[2022-03-07 22:01] DillonHammill commented on #46
I just pushed an update to GitHub to make the switch to `bslib`. Unfortunately, using bootstrap 4 causes the `Done` button to move over to the left so I have decided to stick to bootstrap 3 for now. Also users can now create their own custom `bs_theme` and pass directly to the `theme` argument:
[code]
Users can still simply supply the name of the theme to the `theme` argument as well:
[code]

Than

[2022-03-07 22:42] drpturner commented on #46
Thanks for sorting this out so quickly - great package. I will mark as closed

[2022-03-07 23:23] #46 closed

[2022-03-08 01:25] palmersg58 opened #47 "yeti is not an available theme"
When I try to run data_edit() I get the error message:

Error in shinytheme(theme) :
  yeti is not an available theme. Valid themes are: .

I cannot find any guidance to fix this error.

Are you able to help?

[2022-03-08 01:42] DillonHammill commented on #47
I have just pushed a fix to GitHub, see #46. Please install the development version from GitHub:
[code]
These changes will appear on CRAN in the next couple of days.

[2022-03-09 02:50] palmersg58 commented on #47
Thank you for getting back to me so fast.

Everything appears to work now.

Ngā mihi

Dr Stephen Palmer | Medical Officer of Health | Regional Public Health

Phone (04) 570 9132
Mobile (0)27 430 6402
www.rph.org.nz<http://www.rph.org.nz/>

***@***.***

[http://i1.cmail19.com/ei/d/E3/34A/71D/061144/csfinal/COVID_Signature_RPH-9900000000079e3c.jpg]

________________________________
From: Dillon Hamm

[2022-03-09 10:32] #47 closed

[2022-03-21 07:46] aalucaci opened #48 "type.convert turns in certain cases numerics to integer, so that only integers are allowed when editing"
Hello,
thank you for your package, which I started using recently.

I noticed the following problem: data.frames containing numeric columns are converted to integer if the values are not fractional.
A little bit of digging around showed that this is due to  the usage of type.convert:

`lst1 <- list(a = 4.0)
str(lst1)
# List of 1
# $ a: num 4

lst2 <- utils::type.convert(lst1)
str(lst2)
# List of 1

[2022-04-22 00:48] sch56 opened #49 "Calling process terminates 30ms after exiting from DataEditR"
Approximately 30ms after returning from the DataEditR window, the calling process terminates with no exception or apparent cause.

If I insert a `browser()` step immediately after return this does not happen.
If I step through in debug mode this does not happen.

[code]
The loop at the end stops after 3 or 4 iterations.  But if I enable the `browser()` then execution continues.
Any help on how to

[2022-04-22 09:04] DillonHammill commented on #49
This is a known issue with using shiny modal dialogs which is the default viewer in `data_edit()`. Switching the viewer to `viewer` or `browser` should fix this issue.
[code]

[2022-04-23 01:58] sch56 commented on #49
Thanks for the pointer Dillon.  Regards.  I guess this is being triggered by a lower level aspect of the code.  Unfortunate as otherwise it is really useful, but takes a while to diagnose what is going wrong as it doesn't when in debug.
Maybe make 'browser' the default until the issue can be resolved.

[2022-04-23 01:58] #49 closed

[2022-04-28 03:53] sch56 commented on #3
Hi @DillonHammill - I really want to know whether the user exited using the Done or the Cancel button. At present there doesn't seem to be any way to do this if they haven't actually changed some data.
Would it make sense to not return the data when the Cancel is pressed?
Or is there another way of determining this from the calling process?

The scenario for me is:
1. Get some data
2. Make some pr

[2022-04-28 04:36] DillonHammill opened #50 "Different return value for cancel button"
Hi @DillonHammill - I really want to know whether the user exited using the Done or the Cancel button. At present there doesn't seem to be any way to do this if they haven't actually changed some data.
Would it make sense to not return the data when the Cancel is pressed?
Or is there another way of determining this from the calling process?

The scenario for me is:
1. Get some data
2. Make some pr

[2022-04-28 04:44] DillonHammill commented on #50
@sch56 I moved your request to a new issue where it is more visible. The current implementation returns the original data when the cancel button is hit:
https://github.com/DillonHammill/DataEditR/blob/504d7faf89b6689255c1d797a8ccfc4d55f37b85/R/data_edit.R#L548

I implemented it this way because I needed this functionality in other packages. I could add a `cancel` argument which would allow you to

[2022-04-28 04:57] DillonHammill commented on #50
@sch56, I just pushed a fix to the `master` branch on GitHub. Please pull it down and let me know how you go:
[code]

[2022-05-09 00:32] #50 closed

[2022-05-24 07:58] chabrault opened #51 "Print edited table in shiny app"
Hello,
First, thanks for this beautiful package, it will help me a lot!
I'm building a Shiny App using your package and I'm struggling to figure out how to extract and save the table once edited.
I reproduced below a quick Shiny App:

[code]
In this example, there is no table output and it throws the following error: `Warning: Error in renderFunc: argument "shinysession" is missing, with no defaul

[2022-05-24 08:08] DillonHammill commented on #51
@chabrault, not exactly sure where the error is coming from - it seems external to `DataEditR`. Anyways, I normally resort to using `reactiveValues()` for these sorts of tasks and it works in your case:
[code]

[2022-05-27 21:52] #51 closed

[2022-05-28 13:34] rccline opened #52 "Feature Request: Edit geospatial attributes"
It would be great to edit attributes of geometry (sfc) and simple feature collections (sf).

Opening an sfc file causes {DataEditR} to crash.

[2022-05-28 23:22] DillonHammill commented on #52
@rccline, you will need to extract the relevant attributes into a `data.frame` for editing and then re-assign the edited data back to your `sf` or `sfc` object using the relevant assignment operations. `DataEditR` can only read in tabular data objects.

[2022-06-12 23:39] sch56 commented on #35
Related issue: If I have set `row_edit = FALSE` and accidentally paste something that is larger than the existing data then the app crashes.  Preferable would be either a simple check and error message if the paste extent is too large, or trim the paste to what does fit.

[2022-06-14 17:11] AndyBunn opened #53 "Feature Request: Add/Remove cell above/cell below"
Is there any way to select a column of data, click on a value, and insert or delete a *cell* above or below. I know it's possible to to this with rows but to be able to do that on a single cell would be fantastic.

https://user-images.githubusercontent.com/12534109/173636746-939d8080-8661-407b-99d4-906f0780506f.mov

[2022-08-09 12:34] earnaud opened #58 "Bad priority handler in dataEditServer"
Hi,

thanks you for this amazing package.
I came across a bug when I tried to use your package, and think I grabbed its cause.

**Bug description**

I use a shinytree with two node levels: first one is data table names, and second one (leaves) are the different rows of the data table. A button lets the user access the selected data table (whatever is the selected row) and edit it in a modal. The c

[2022-08-09 12:43] DillonHammill commented on #58
Sounds like a namespacing issue. Are you using unique ids for each table? Do you have a simple reproducible example or code snippet you can share?

[2022-08-10 07:34] earnaud commented on #58
A namespacing issue would result in a non-reactivity. Here, the table reacts but does not update correctly.

I will try to work on a reproducible example.

Also, do you plan to add a `updateDataEdit` function?

[2022-08-10 09:10] DillonHammill commented on #58
Thanks @earnaud, this will go a long way in improving my understanding of the problem. What would `updateDataEdit` do?

[2022-08-10 09:23] earnaud commented on #58
It would be a way to provide a non-reactive data.table in the `data` argument of dataEditServer, and have a fine control on the way the table widget updates.

[2022-08-10 09:24] earnaud commented on #58
Well, here is a first reprex. I did not meet the described bug, but I an issue before this.
The app refers to two files (linked in the zip)  that shall be taken into account if the `app.R` is sourced.

[20220810_DataEditR.zip](https://github.com/DillonHammill/DataEditR/files/9298706/20220810_DataEditR.zip)

[2022-08-23 19:46] sebacea commented on #7
@OliverFishCode @DillonHammill any updates on this. I would like to help with this functionality.

[2022-08-23 20:30] DillonHammill commented on #7
@sebacea unfortunately I haven't had time to work on this yet.

I would be more than happy to accept any pull requests which add support for this.

I looked into using waldo a while back but diffobj may also be useful:
https://github.com/brodieG/diffobj

[2022-09-12 17:21] frankhaege opened #59 "DataEditR does not return modified R object"
When starting the editor, I get the following warning messages about Font Awesome icons not being available:

This Font Awesome icon ('sync') does not exist:
if providing a custom `html_dependency` these `name` checks can
  be deactivated with `verify_fa = FALSE`
This Font Awesome icon ('file-download') does not exist:
if providing a custom `html_dependency` these `name` checks can
  be deactivate

[2022-09-13 00:19] DillonHammill commented on #59
Looks like the names of font awesome icons have changed. I will fix this up today.

[2022-09-13 00:51] DillonHammill commented on #59
@frankhaege, I just pushed a fix to the master branch. Please pull it down and see if it works for you:
[code]

[2022-09-13 14:23] frankhaege commented on #59
Thanks, the warning messages are gone, but the changes I make in the editor (or in the browser) are still not returned in the R object. The changes are only retained when I save the table to a file. I also do not get the code returned when I specify code=TRUE. Maybe it is something else or I am missing something simple, but I presume the modified data and the code should be returned once I click '

[2022-09-28 10:07] ShinyFabio commented on #48
I'm facing the same problem. I think this should be corrected since even the factors columns are converted into numeric.

[2022-09-29 06:03] DillonHammill commented on #48
@ShinyFabio, do you have any examples of the factor conversion issues you are seeing? I am having a look at this and I would like to make changes that will address all issues (if possible).

[2022-09-29 06:09] DillonHammill commented on #48
I just pushed @aalucaci's suggestion to `data_format()` which now returns:
[code]

In the case of converting characters to factors, the default retains characters:
[code]

Using `col_factor` correctly converts the character column to a factor:
[code]

This factor column looks the sae as the one in the original `iris` dataset:
[code]

[2022-09-29 07:06] DillonHammill commented on #59
@frankhaege, I have switched the icon library to use glyphicons instead - I think these will be more stable in terms of their naming. Please can you confirm whether the icons are visible once you have installed the latest version of DataEditR from GitHub:
[code]

[2022-09-29 07:07] DillonHammill commented on #59
I think you are forgetting to hit the `sync` button to transfer your changes to the `master` copy of your data prior to hitting done or save to file.

[2022-10-01 17:30] ShinyFabio commented on #48
Yes sure, on monday I'll try to send you an example.

[2022-11-03 15:39] yvanlebras commented on #58
is it possible to have feedback on this issue ?

[2022-11-27 18:18] mytarmail opened #60 "Data table not showing data_edit"
I am trying to follow the example
[code]
but I get a clean table with no data [image](http://prntscr.com/hOrQ3EYOhIPU)
I installed the newest version from github, also from cran

[code]